.header img{
    height: 80px;
}
.header{
    text-align: center;
    margin-top: 10px;
}

nav{
    background-color: black;
    line-height: 42.5px;
    margin-top: 10px;
}

.header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    margin: 20px;
}

.header a:hover{
    background-color: gray;
}